.docBody {
    width: 797.48px;
    height: 1127.2px;
    margin-left: auto;
    margin-right: auto;
    .border {
        position: absolute;
        width: 797.48px;
        height: 1127.2px;
        background-color: transparent;
        z-index: -1;
        .logo {
            top: 13%;
            left: 40%;
            width: 200.31px;
            height: auto;
            position: absolute;
        }
        .waterMark {
            width: 550px;
            height: auto;
            position: absolute;
            top: 45%;
            left: 15%;
            z-index: 2;
        }
        .bluebar {
            width: 200px;
            height: 5px;
            position: absolute;
            top: 17%;
            left: 41px;
            -webkit-print-color-adjust: exact;
            color-adjust: exact;
            background-color: #000033;
        }
    }
}
.cellsParent {
    top: 22%;
    left: 50%;
    width: auto;
    height: auto;
    margin: 20px;
    position: absolute;
    z-index: 5;
    .topCells {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        .topInputLeft {
            top: 25%;
            left: 60%;
            display: flex;
            flex-direction: row;
            width: max-content;
            height: 17px;
            flex-wrap: wrap;
            padding: 1px;
            .cell {
                margin-top: -1.5px;
                margin-left: -1.5px;
                border-style: solid;
                font-family: "Roboto", sans-serif;
                text-align: left;
                width: 143px;
                font-size: 12px;
                height: 17.15px;
                border-width: 1.5px;
            }
        }
    }
}

.firstBodyCells {
    padding: auto;
    top: 125%;
    left: -110%;
    display: flex;
    flex-direction: row;
    position: absolute;
    flex-wrap: nowrap;
    height: 34.79px;
    width: 590px;
    .cotizacion {
        margin-right: 0.05px;
        width: 50.58%;
        height: 100%;
        border-style: solid;
        border-width: 1.5px;
    }
    .littleCellsLeft {
        // width: 324.72px;
        width: 19.768%;
        height: 100%;
        display: flex;
        flex-direction: column;
        .leftSon {
            margin-left: -1.5px;
            margin-bottom: -1.5px;
            height: 48%;
            border-width: 1.5px;
            border-style: solid;
            font-family: "Roboto", sans-serif;
            text-align: left;
        }
        // padding: 1px;
    }
    .littleCellsRight {
        // width: 324.72px;
        width: 29.652%;
        height: 100%;

        // padding: 1px;
        .rightSon {
            margin-left: -1.5px;
            margin-bottom: -1.5px;
            // margin-top: 0.5px;
            // padding-bottom: inherit;
            height: 48%;
            border-style: solid;
            border-width: 1.5px;
            font-family: "Roboto", sans-serif;
            text-align: left;
        }
    }
}

.secondBodyCells {
    top: 189%;
    left: -115%;
    display: flex;
    flex-direction: row;
    position: absolute;
    flex-wrap: nowrap;
    height: 34.79px;
    width: 620px;
    z-index: 5;
    // border-style: solid;

    .leftSon {
        width: 50.55%;
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
        background-color: #cccc33;
        height: 100%;
    }
    .rightSon {
        width: 49.45%;
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
        background-color: #000033;
        height: 100%;
    }
}

.thirdBodyCells {
    top: 248%;
    left: -110%;
    display: flex;
    flex-direction: row;
    position: absolute;
    flex-wrap: nowrap;
    height: 480px;
    width: 590px;
    border-style: solid;
    border-width: 1.5px;
    // background-color: blue;

    .item {
    }
    .details {
    }
    .hours {
    }
    .cost {
    }
    .import {
    }
}
