$alto_input: 70px;

.form-block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 0 10px 0;

    .left-container {
        display: flex;
        flex-direction: row;
        margin: 20px 20px 20px 100px;
        align-items: center;
        .img-container {
            background: #e3e4e6;
            border-radius: 8px;
            .student {
                width: 550px;
                height: 1000px;
                padding: 25px 25px 25px 25px;
            }
        }
    }

    .right-container {
        display: flex;
        flex-direction: column;
        margin: 20px 100px 20px 20px;
        .data-container {
            // background: red;
            border-radius: 8px;
            width: 800px;
            .titulo {
                font-family: "Montserrat";
                font-size: 20px;
                font-weight: 200;
                margin: 10px 0 5px 0;
                text-align: center;
            }

            .primera-fila {
                display: flex;
                flex-direction: row;
                margin: 20px 20px 20px 20px;
                justify-content: space-around;

                .nombre {
                    .input-nombre {
                        border-style: solid;
                        width: 300px;
                        height: $alto_input;
                        border-radius: 8px;
                        border-color: #e3e4e6;
                    }
                }
                .apellido {
                    .input-apellido {
                        border-style: solid;
                        width: 300px;
                        height: $alto_input;
                        border-radius: 8px;
                        border-color: #e3e4e6;
                    }
                }
            }

            .segunda-fila {
                display: flex;
                flex-direction: row;
                margin: 20px 20px 20px 20px;
                justify-content: center;
                .correo {
                    .input-correo {
                        border-style: solid;
                        width: 680px;
                        height: $alto_input;
                        border-radius: 8px;
                        border-color: #e3e4e6;
                    }
                }
            }
            .tercera-fila {
                display: flex;
                flex-direction: row;
                margin: 20px 20px 20px 20px;
                justify-content: space-around;
                .telefono {
                    .input-telefono {
                        border-style: solid;
                        width: 300px;
                        height: $alto_input;
                        border-radius: 8px;
                        border-color: #e3e4e6;
                    }
                }

                .pais {
                    .input-pais {
                        border-style: solid;
                        width: 300px;
                        height: $alto_input;
                        border-radius: 8px;
                        border-color: #e3e4e6;
                    }
                }
            }

            .cuarta-fila {
                display: flex;
                flex-direction: row;
                margin: 20px 20px 20px 20px;
                justify-content: center;
                .requerimiento {
                    .input-requerimiento {
                        border-style: solid;
                        width: 680px;
                        height: $alto_input;
                        border-radius: 8px;
                        border-color: #e3e4e6;
                    }
                }
            }

            .quinta-fila {
                display: flex;
                flex-direction: row;
                margin: 20px 20px 20px 20px;
                justify-content: center;
                .especialidad {
                    .input-especialidad {
                        border-style: solid;
                        width: 680px;
                        height: $alto_input;
                        border-radius: 8px;
                        border-color: #e3e4e6;
                    }
                }
            }

            .sexta-fila {
                display: flex;
                flex-direction: row;
                margin: 20px 20px 20px 20px;
                justify-content: center;
                .univ-org {
                    .input-univ-org {
                        border-style: solid;
                        width: 680px;
                        height: $alto_input;
                        border-radius: 8px;
                        border-color: #e3e4e6;
                    }
                }
            }

            .septima-fila {
                display: flex;
                flex-direction: row;
                margin: 20px 20px 20px 20px;
                justify-content: space-around;
                .descuento {
                    .input-descuento {
                        border-style: solid;
                        width: 300px;
                        height: $alto_input;
                        border-radius: 8px;
                        border-color: #e3e4e6;
                    }
                }

                .codigo {
                    .input-codigo {
                        border-style: solid;
                        width: 300px;
                        height: $alto_input;
                        border-radius: 8px;
                        border-color: #e3e4e6;
                    }
                }
            }

            .octava-fila {
                display: flex;
                flex-direction: row;
                margin: 20px 20px 20px 20px;
                justify-content: center;
                .entrega {
                    .input-entrega {
                        border-style: solid;
                        width: 680px;
                        height: $alto_input;
                        border-radius: 8px;
                        border-color: #e3e4e6;
                    }
                }
            }

            .novena-fila {
                display: flex;
                flex-direction: row;
                margin: 20px 20px 20px 20px;
                justify-content: center;
                .avance {
                    .input-avance {
                        border-style: solid;
                        width: 680px;
                        height: $alto_input;
                        border-radius: 8px;
                        border-color: #e3e4e6;
                    }
                }
            }
            .decima-fila {
                display: flex;
                flex-direction: row;
                margin: 20px 20px 20px 20px;
                justify-content: center;
                .detalles {
                    .input-detalles {
                        border-style: solid;
                        width: 680px;
                        height: $alto_input;
                        border-radius: 8px;
                        border-color: #e3e4e6;
                    }
                }
            }
            .undecima-fila {
                display: flex;
                flex-direction: row;
                margin: 20px 20px 20px 20px;
                justify-content: center;

                .boton {
                    width: 200px;
                    height: 60px;
                    border-radius: 8px;
                    background: black;
                    .text {
                        color: white;
                        font-family: "Montserrat";
                    }
                }
            }
        }
    }
}
