$height_input: 70px;

//Container principal
.form-block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 0 10px 0;

    //inputs

    .input-type-1 {
        border-style: solid;
        width: 300px;
        height: $height_input;
        border-radius: 8px;
        border-color: #e3e4e6;
    }

    .input-type-2 {
        border-style: solid;
        width: 680px;
        height: $height_input;
        border-radius: 8px;
        border-color: #e3e4e6;
    }

    .left-container {
        display: flex;
        flex-direction: row;
        margin: 20px 20px 20px 100px;
        align-items: center;
        .img-container {
            background: #e3e4e6;
            border-radius: 8px;
            .student {
                width: 550px;
                height: 1000px;
                padding: 25px 25px 25px 25px;
            }
        }
    }

    .right-container {
        display: flex;
        flex-direction: column;
        margin: 20px 100px 20px 20px;
        .data-container {
            // background: red;
            border-radius: 8px;
            width: 800px;

            .titulo {
                font-family: "Montserrat";
                font-size: 20px;
                font-weight: 200;
                margin: 10px 0 5px 0;
                text-align: center;
            }

            //Rows
            //1-3-7
            .row-around {
                display: flex;
                flex-direction: row;
                margin: 20px 20px 20px 20px;
                justify-content: space-around;
            }
            .row-center {
                display: flex;
                flex-direction: row;
                margin: 20px 20px 20px 20px;
                justify-content: center;
            }

            .boton {
                width: 200px;
                height: 60px;
                border-radius: 8px;
                background: black;
                .text {
                    color: white;
                    font-family: "Montserrat";
                }
            }
        }
    }
}
@media screen and (max-width: 1920px) {
    .form-block {
        .left-container {
            display: flex;
            flex-direction: row;
            margin: 20px 20px 20px 100px;
            align-items: center;
            .img-container {
                background: #e3e4e6;
                border-radius: 8px;
                .student {
                    width: 550px;
                    height: auto;
                    padding: 25px 25px 25px 25px;
                    transition: 0.5s;
                }
            }
        }
    }
}


@media screen and (max-width: 1500px) {
    .form-block {
        .left-container {
            display: flex;
            flex-direction: row;
            margin: 20px 20px 20px 100px;
            align-items: center;
            .img-container {
                background: #e3e4e6;
                border-radius: 8px;
                .student {
                    width: 450px;
                    height: auto;
                    padding: 25px 25px 25px 25px;
                    transition: 0.5s;
                }
            }
        }
    }
}

@media screen and (max-width: 1366px) {
    .form-block {
        .left-container {
            display: flex;
            flex-direction: row;
            margin: 20px 20px 20px 100px;
            align-items: center;
            .img-container {
                background: #e3e4e6;
                border-radius: 8px;
                .student {
                    width: 380px;
                    height: auto;
                    padding: 25px 25px 25px 25px;
                    transition: 0.5s;
                }
            }
        }
    }
}

@media screen and (max-width: 1365px) {
    .form-block {
        .left-container {
            display: none;
            flex-direction: row;
            margin: 20px 20px 20px 100px;
            align-items: center;
            transition: 0.5s;
            .img-container {
                background: #e3e4e6;
                border-radius: 8px;
                .student {
                    width: 380px;
                    height: auto;
                    padding: 25px 25px 25px 25px;
                    transition: 0.5s;
                }
            }
        }
    }
}

