.middle-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    .middle-title{
        font-family: "Montserrat";
        font-weight: 500;
        color: #1A1C37;
        text-align: center;
    }
    .big-info-frames{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .big-frame{
            border-radius: 20px;
            .frame-title-big{
                font-family:  "Montserrat";
                
                color: #1A1C37;
            }
        }
    }

    .small-info-frames{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .small-frame{
            border-radius: 20px;
            .frame-title-small{
                font-family:  "Montserrat";
                
                color: #1A1C37;
            }
        }
    }
}

@media screen and (max-width: 1920px){
    .middle-container{
        transform: translateY(-15%);
        .middle-title{
            margin: 4% 0 2% 0;
            font-size: 50px;
        }
        .big-info-frames{
            margin: 3% 15%;
            
            .big-frame{
                box-shadow: -7px 7px 0.9px 6px #E3E4E6;
                width: 47%;
                .frame-img-b{
                    width: 100%;
                }
                .frame-title-big{
                    font-weight: 500;
                    font-size: 50px;
                    margin: 6% 6% 23%;
                }
            }
        }
        .small-info-frames{
            margin: 3% 14.8%;
            .small-frame{
                box-shadow: -3px 3px 0.9px 3px #E3E4E6;
                width: 30%;
                .frame-title-small{
                    font-size: 24px;
                    margin: 6% 6% 23%;
                    font-weight: 600;
                }
                .frame-img-s{
                    width: 100%;
                    border-radius: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 1366px){
    .middle-container{
        transform: translateY(-15%);
        .middle-title{
            margin: 4% 0 2% 0;
            font-size: 30px;
        }
        .big-info-frames{
            margin: 3% 15%;
            
            .big-frame{
                box-shadow: -7px 7px 0.9px 6px #E3E4E6;
                width: 47%;
                .frame-img-b{
                    width: 100%;
                }
                .frame-title-big{
                    font-weight: 500;
                    font-size: 30px;
                    margin: 6% 6% 23%;
                }
            }
        }
        .small-info-frames{
            margin: 3% 14.8%;
            .small-frame{
                box-shadow: -3px 3px 0.9px 3px #E3E4E6;
                width: 30%;
                .frame-title-small{
                    font-size: 17px;
                    margin: 6% 6% 23%;
                    font-weight: 600;
                }
                .frame-img-s{
                    width: 100%;
                    border-radius: 20px;
                }
            }
        }
    }
}