.services-container{
    .title-container{
        .our{
            color: #11162A;
            text-align: center;
            font-size: 350%;
            font-weight: 600;
        }
        .services{
            color: #F27C00;
            text-align: center;
            font-size: 350%;
            font-weight: 600;
        }
    }
}