.services-container {
    .title-container {
        .our {
            color: #11162a;
            text-align: center;
            font-size: 350%;
            font-weight: 600;
        }
        .services {
            color: #f27c00;
            text-align: center;
            font-size: 350%;
            font-weight: 600;
        }
    }
    .image-container {
        display: flex;
        flex-direction: column;
        margin-top: 65px;
        .image {
            width: 40%;
            height: auto;
            display: block;
            margin: auto;
            background: rgba(0, 0, 0, 0.2);
        }
    }
    .buttons-container {
        display: flex;
        flex-direction: row;
        height: 100px;
        margin-top: 50px;
        padding-left: 20%;
        padding-right: 20%;
        margin-bottom: 50px; //while
        align-items: center;
        justify-content: space-between;
        transition-delay: 4s;
        margin-bottom: auto;
        .button-1 {
            display: flex;
            flex-direction: column;
            .button {
                background: #e3e4e6;
                padding-bottom: 2px;
                border-radius: 17px;
                height: 70.64px;
                width: 182.07px;
                font-weight: 500;
                font-family: "Montserrat";
                font-size: 16.09px;
                border: #e3e4e6;
                cursor: pointer;
                transition-delay: 0.1s;
            }
        }

        .button-1:hover {
            display: flex;
            flex-direction: column;
            .button:hover {
                background: #e3e4e6;
                border-radius: 17px;
                height: 70.64px;
                width: 182.07px;
                font-weight: 500;
                font-size: 16.09px;
                box-shadow: 0 0 5px 0 #c6c6c6;
                border-bottom: solid 5px darkgrey;
                cursor: pointer;
            }
            .rectangle {
                width: 100%;
                height: 10px;
                background: #f27c00;
                transition-delay: 0.1s;
            }
        }
    }
    .more-information {
        text-align: center;
        margin-top: 6%;
        .information-link {
            font-weight: 500;
            color: #e4c000;
        }
        img {
            padding: 0.5%;
            margin: -1% auto;
            margin-left: 0%;
            width: 1.5%;
        }
    }
}

@media screen and (max-width: 1920px) {
    .services-container {
        .buttons-container {
            display: flex;
            flex-direction: row;
            height: 100px;
            padding-left: 20%;
            padding-right: 20%;
            margin-bottom: 50px; //while
            align-items: center;
            justify-content: space-between;
            transition-delay: 4s;
            margin-bottom: auto;
            .button-1 {
                display: flex;
                flex-direction: column;
                .button {
                    background: #e3e4e6;
                    padding-bottom: 2px;
                    border-radius: 17px;
                    height: 100.64px;
                    width: 210.07px;
                    font-weight: 500;
                    font-family: "Montserrat";
                    font-size: 20.09px;
                    border: #e3e4e6;
                    cursor: pointer;
                    transition-delay: 0.1s;
                }
            }

            .button-1:hover {
                display: flex;
                flex-direction: column;
                .button:hover {
                    background: #e3e4e6;
                    border-radius: 17px;
                    height: 100.64px;
                    width: 210.07px;
                    font-weight: 500;
                    font-size: 20.09px;
                    box-shadow: 0 0 5px 0 #c6c6c6;
                    border-bottom: solid 5px darkgrey;
                    cursor: pointer;
                }
                .rectangle {
                    width: 100%;
                    height: 10px;
                    background: #f27c00;
                    transition-delay: 0.1s;
                }
            }
        }
        .more-information {
            text-align: center;
            margin-top: 6%;
            .information-link {
                font-weight: 500;
                color: #e4c000;
            }
            img {
                padding: 0.5%;
                margin: -1% auto;
                margin-left: 0%;
                width: 1.5%;
            }
        }
    }
}

@media screen and (max-width: 1400px) {
    .services-container {
        .title-container {
            .our {
                color: #11162a;
                text-align: center;
                font-size: 350%;
                font-weight: 600;
            }
            .services {
                color: #f27c00;
                text-align: center;
                font-size: 350%;
                font-weight: 600;
            }
        }
        .image-container {
            display: flex;
            flex-direction: column;
            .image {
                width: 40%;
                height: auto;
                display: block;
                margin: auto;
            }
            .rectangle {
                width: 10%;
                height: 20%;
                background: #f27c00;
            }
        }
        .buttons-container {
            display: flex;
            flex-direction: row;
            height: 100px;
            padding-left: 20%;
            padding-right: 20%;
            margin-bottom: 50px; //while
            align-items: center;
            justify-content: space-between;
            transition-delay: 4s;
            margin-bottom: auto;
            .button-1 {
                display: flex;
                flex-direction: column;
                .button {
                    background: #e3e4e6;
                    padding-bottom: 2px;
                    border-radius: 17px;
                    height: 70.64px;
                    width: 182.07px;
                    font-weight: 500;
                    font-family: "Montserrat";
                    font-size: 16.09px;
                    border: #e3e4e6;
                    cursor: pointer;
                    transition-delay: 0.1s;
                }
            }

            .button-1:hover {
                display: flex;
                flex-direction: column;
                .button:hover {
                    background: #e3e4e6;
                    border-radius: 17px;
                    height: 70.64px;
                    width: 182.07px;
                    font-weight: 500;
                    font-size: 16.09px;
                    box-shadow: 0 0 5px 0 #c6c6c6;
                    border-bottom: solid 5px darkgrey;
                    cursor: pointer;
                }
                .rectangle {
                    width: 100%;
                    height: 10px;
                    background: #f27c00;
                    transition-delay: 0.1s;
                }
            }
        }
        .more-information {
            text-align: center;
            margin-top: 6%;
            .information-link {
                font-weight: 500;
                color: #e4c000;
            }
            img {
                padding: 0.5%;
                margin: -1% auto;
                margin-left: 0%;
                width: 1.5%;
            }
        }
    }
}

@media screen and (max-width: 715px) {
    .services-container {
        .title-container {
            .our {
                color: #11162a;
                text-align: center;
                font-size: 350%;
                font-weight: 600;
            }
            .services {
                color: #f27c00;
                text-align: center;
                font-size: 350%;
                font-weight: 600;
            }
        }
        .image-container {
            display: flex;
            flex-direction: column;
            .image {
                width: 40%;
                height: auto;
                display: block;
                margin: auto;
            }
            .rectangle {
                width: 10%;
                height: 20%;
                background: #f27c00;
            }
        }
        .buttons-container {
            display: flex;
            flex-direction: row;
            height: 100px;
            margin-bottom: 50px; //while
            align-items: center;
            justify-content: space-between;
            transition-delay: 4s;
            margin-bottom: auto;
            .button-1 {
                display: flex;
                flex-direction: column;
                .button {
                    background: #e3e4e6;
                    padding-bottom: 2px;
                    border-radius: 17px;
                    height: 50.64px;
                    width: 100.07px;
                    font-weight: 500;
                    font-family: "Montserrat";
                    font-size: 10.09px;
                    border: #e3e4e6;
                    cursor: pointer;
                    transition-delay: 0.1s;
                }
            }

            .button-1:hover {
                display: flex;
                flex-direction: column;
                .button:hover {
                    background: #e3e4e6;
                    border-radius: 17px;
                    height: 50.64px;
                    width: 100.07px;
                    font-weight: 500;
                    font-size: 10.09px;
                    box-shadow: 0 0 5px 0 #c6c6c6;
                    border-bottom: solid 5px darkgrey;
                    cursor: pointer;
                }
                .rectangle {
                    width: 100%;
                    height: 10px;
                    background: #f27c00;
                    transition-delay: 0.1s;
                }
            }
        }
        .more-information {
            text-align: center;
            margin-top: 6%;
            .information-link {
                font-weight: 500;
                color: #e4c000;
            }
            img {
                padding: 0.5%;
                margin: -1% auto;
                margin-left: 0%;
                width: 1.5%;
            }
        }
    }
}
/*
.services-container {
    .title-container {
        .our {
            color: #11162a;
            text-align: center;
            font-size: 350%;
            font-weight: 600;
        }
        .services {
            color: #f27c00;
            text-align: center;
            font-size: 350%;
            font-weight: 600;
        }
    }
    .image-container {
        display: flex;
        flex-direction: column;
        .image {
            width: 40%;
            height: auto;
            display: block;
            margin: auto;
        }
        .rectangle {
            width: 10%;
            height: 20%;
            background: #f27c00;
        }
    }
    .buttons-container {
        display: flex;
        flex-direction: row;
        height: 100px;
        padding-left: 20%;
        padding-right: 20%;
        margin-bottom: 50px; //while
        align-items: center;
        justify-content: space-between;
        transition-delay: 4s;
        margin-bottom: auto;
        .button-1 {
            display: flex;
            flex-direction: column;
            .button {
                background: #e3e4e6;
                padding-bottom: 2px;
                border-radius: 17px;
                height: 70.64px;
                width: 182.07px;
                font-weight: 500;
                font-family: "Montserrat";
                font-size: 16.09px;
                border: #e3e4e6;
                cursor: pointer;
                transition-delay: 0.1s;
            }
        }

        .button-1:hover {
            display: flex;
            flex-direction: column;
            .button:hover {
                background: #e3e4e6;
                border-radius: 17px;
                height: 70.64px;
                width: 182.07px;
                font-weight: 500;
                font-size: 16.09px;
                box-shadow: 0 0 5px 0 #c6c6c6;
                border-bottom: solid 5px darkgrey;
                cursor: pointer;
            }
            .rectangle {
                width: 100%;
                height: 10px;
                background: #f27c00;
                transition-delay: 0.1s;
            }
        }
    }
    .more-information {
        text-align: center;
        margin-top: 6%;
        .information-link {
            font-weight: 500;
            color: #E4C000;
        }
        img {
            padding: 0.5%;
            margin: -1% auto;
            margin-left: 0%;
            width: 1.5%;
        }
    }
}*/
