.container {
    .first-container {
        z-index: 1;
        // transform: translate(14%,70%);
        .container1 {
            transform: translate(14%,70%);
            background: #ffffff;
            text-align: left;
            font-family: "Montserrat";
            font-weight: 500;
            padding: 3.5% 4%;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

            width: 25%;
            border-radius: 12px;
            .subtitle {
                font-size: 90%;
            }
            .first-title {
                color: #f39205;
                font-size: 175%;
                margin-top: 2%;
            }
            .second-title {
                color: #f39205;
                font-size: 175%;
                margin-top: 2%;
            }
            .paragraph {
                font-size: 90%;
                margin-top: 3%;
            }
        }
    }
    .second-container {
        z-index: -1;
        display: flex;
        flex-direction: row;
        font-family: "Montserrat";
        font-weight: 500;
        border-radius: 50px;
        margin: 2% 20%;
        .rectangle1 {
            background: #ffd101;
            width: 25%;
            color: #191a36;
            padding: 28% 1.5% 10% 4%;
            border-radius: 10px 0 0 10px;
            .title1 {
                font-size: 250%;
            }
            .descript1 {
                margin-top: 15%;
                font-size: 90%;
            }
        }
        .rectangle2 {
            background: #ffd825;
            color: #191a36;
            width: 25%;
            padding: 28% 1.5% 10% 4%;
            .title2 {
                font-size: 250%;
            }
            .descript2 {
                margin-top: 15%;
                font-size: 90%;
            }
        }
        .rectangle3 {
            color: #191a36;
            background: #ffde4a;
            width: 25%;
            padding: 28% 1.5% 10% 4%;
            .title3 {
                font-size: 250%;
            }
            .descript3 {
                margin-top: 15%;
                font-size: 90%;
            }
        }
        .rectangle4 {
            background: #ffe56e;
            color: #191a36;
            width: 25%;
            padding: 28% 1.5% 10% 4%;
            border-radius: 0 10px 10px 0;
            .title4 {
                font-size: 250%;
                font-style: Medium;
                vertical-align: top;
            }
            .descript4 {
                margin-top: 15%;
                font-size: 90%;
            }
        }
    }
}
