.frame-container {
    background: #e3e4e6;
    width: 52%;
    height: 31.56%;
    padding: 4.5% 4.5% 4% 3%;
    margin: 8% 4%;
    border-radius: 25px;

    p {
        font-size: 14px;
        font-weight: 500;
        font-family: "Montserrat";
    }
    .button {
        margin-top: 50px;
        margin-bottom: 0;
        button {
            background: #101429;
            color: #ffffff;
            font-family: "Montserrat";
            border-radius: 8px;
            width: 25%;
            height: 39px;
            border: #101429;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 1920px) {
    .frame-container {
        margin-right: 0px;
        margin-left: 8%;
        width: 35%;
        padding-bottom: 2%;
        p {
            font-size: 12px;
            font-weight: 500;
            font-family: "Montserrat";
        }
        .button {
            margin-top: 35px;
            margin-bottom: 0;
            button {
                border-radius: 7px;
                width: 25%;
                height: 35px;
                cursor: pointer;
                font-size: 12px;
            }
        }
    }
}

@media screen and (max-width: 1400px) {
    .frame-container {
        margin-right: 0px;
        margin-left: 8%;
        width: 45%;
        padding-bottom: 2%;
        p {
            font-size: 12px;
            font-weight: 500;
            font-family: "Montserrat";
        }
        .button {
            margin-top: 35px;
            margin-bottom: 0;
            button {
                border-radius: 7px;
                width: 25%;
                height: 35px;
                cursor: pointer;
                font-size: 12px;
            }
        }
    }
}

@media screen and (max-width: 715px) {
    .frame-container {
        margin-right: 0px;
        margin-left: 12%;
        p {
            font-size: 8px;
            font-weight: 500;
            font-family: "Montserrat";
        }
        .button {
            margin-top: 22px;
            margin-bottom: 0;
            button {
                border-radius: 8px;
                width: 25%;
                height: 21px;
                cursor: pointer;
                font-size: 6px;
            }
        }
    }
}
