@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

.content-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 150px 0 10px 0;
    z-index: -1;
    .block-image{
        background: #E3E4E6;
        border-radius: 15px;
        margin: 0 100px 0 50px;
        height: 100%;
        .woman{
            height: auto;
        }
    }

    .block-info{
        display: flex;
        flex-direction: column;
        margin: 0 50px 0 100px;
        //background: red;
        .info{
            font-family: "Montserrat";
            
            font-weight: 500;
            margin: 10px 0 5px 0;
        }

        .b-button{
            font-family: "Montserrat";
            font-weight: 500;
            color: #fff;
            cursor: pointer;
            background: #101429;
            border-radius: 8px;
            border: none;
            margin: 13px 0 13px 0;
        }
        
        .b-button:hover{
            color: #101429;
            background: #fff;
            border: 1px solid #101429;
            font-weight: 500;
        }

        .mult-info{
            display: flex;
            flex-direction: row;
            margin: 10px 0 0 0;

            .student-container{
                background: #E3E4E6;
                border-radius: 8px;
                height: 100%;
                .student{                   
                    height: auto;
                }
            }

            .redir-container{
                display: flex;
                flex-direction: column;
                justify-content:center;
                margin-left: 40px;
                .msg{
                    color: #101429;
                    font-family: "Montserrat";
                    font-weight: 500;

                }

                .video-redir{
                    font-family: "Montserrat";
                    color: #FFC700;
                    
                    .arrow{
                        padding-left: 5px;
                    }
                }

                .video-redir:hover{
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }
}

@media screen and (max-width: 1920px) {
    .content-block{
        margin: 200px 0 10px 0;
        z-index: -1;
        .block-image{
            border-radius: 15px;
            margin: 0 100px 0 50px;
            height: 100%;
            .woman{
                width: 700px;
                height: auto;
                padding: 15px 15px 0 15px ;
            }
        }

        .block-info{
            .info{
                font-size: 20px;
                font-weight: 500;
                margin: 10px 0 5px 0;
            }
            .b-button{
                font-size: 20px;
                width: 40%;
                height: 10%;
            }

            .mult-info{
                .student-container{
                    .student{
                        height: 163px;
                        width: auto;
                        padding: 8px 8px 0 8px;
                    }
                }

                .redir-container{
                    .msg{
                        font-size: 20px;
                    }

                    .video-redir{
                        font-size: 20px;
                        .arrow{
                            width: 30px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1366px) {
    .content-block{
        margin: 140px 0 10px 0;
        z-index: -1;
        .block-image{
            border-radius: 15px;
            margin: 0 100px 0 50px;
            height: 100%;
            .woman{
                width: 450px;
                height: auto;
                padding: 15px 15px 0 15px ;
            }
        }

        .block-info{
            .info{
                font-size: 13px;
                font-weight: 500;
                margin: 10px 0 5px 0;
            }
            .b-button{
                font-size: 13px;
                width: 40%;
                height: 40px;
            }

            .mult-info{
                .student-container{
                    .student{
                        width: 200px;
                        height: auto;
                        padding: 5px 5px 0 5px;
                    }
                }

                .redir-container{
                    .msg{
                        font-size: 13px;
                    }

                    .video-redir{
                        font-size: 13px;
                        .arrow{
                            width: 20px;
                        }
                    }
                }
            }
        }
    }
}